<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Curso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Crear Curso</h1>
    
    <!-- Formulario para crear un curso -->
    <form action="{{ url_for('crear_curso') }}" method="post">
        <label for="Anio">Año:</label>
        <input type="text" id="Anio" name="Anio" required>
        <br>
        <label for="Turno">Turno:</label>
        <select id="Turno" name="Turno" required>
            <option value="Mañana">Mañana</option>
            <option value="Tarde">Tarde</option>
        </select>
        <br>
        <label for="Division">División:</label>
        <input type="text" id="Division" name="Division" required>
        <br>
        <label for="Ciclo">Ciclo:</label>
        <select id="Ciclo" name="Ciclo" required>
            <option value="Basico">Básico</option>
            <option value="Superior">Superior</option>
        </select>
        <br>
        <button type="submit">Crear Curso</button>
    </form>

    <a href="{{ url_for('index') }}">Volver al Registro de Alumnos</a>
</body>
</html>
