<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Alumnos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Registro de Alumnos</h1>
    
    <!-- Formulario de registro de alumnos -->
    <form method="POST">
        <label for="codigo">Código:</label>
        <input type="text" id="codigo" name="codigo" required>
        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>
        
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" required>
        
        <label for="curso">Curso:</label>
        <select id="curso" name="curso" required>
            {% for curso in cursos %}
                <option value="{{ curso.id_curso }}">{{ curso.Anio }} - {{ curso.Turno }} - {{ curso.Ciclo }} - {{ curso.Division }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Registrar Alumno</button>
    </form>
    
    <!-- Enlace a la lista de cursos -->
    <h2><a href="{{ url_for('listar_cursos') }}">Ver Lista de Cursos</a></h2>
    
    <!-- Enlace a la creación de cursos -->
    <h2><a href="{{ url_for('crear_curso') }}">Crear Nuevo Curso</a></h2>
    
    <!-- Enlace a la creación de talleres -->
    <h2><a href="{{ url_for('crear_taller') }}">Crear Nuevo Taller</a></h2>
    
    <!-- Enlace a la página de escaneo de QR -->
    <h2><a href="{{ url_for('scan_qr') }}">Escanear QR</a></h2>
</body>
</html>
